script#categories(type="text/template")
  .container.categories
    ul.tools
      li.tool
        .grid.tool-info
          .cell-6
            img.img-responsive(src="images/nation/index.jpg", alt="欢度国庆")
          .cell-6
            h5.tool-name 欢度国庆
              small NEW
            p.tool-desc 国庆到了，点亮“欢度国庆”四个字，迎国庆，即可获得相应奖励。
        .grid.tool-btns
          .cell-6
            a.weui_btn.weui_btn_default(href="#!/activity/nation/6") 查看示例
          .cell-6
            a.weui_btn.weui_btn_primary(href="#!/activity/nation/new") 马上制作
      li.tool
        .grid.tool-info
          .cell-6
            img.img-responsive(src="images/moon/index.jpg", alt="全民唤满月")
          .cell-6
            h5.tool-name 全民唤满月
              small NEW
            p.tool-desc 召集好友集齐月牙，唤出满月，即可赢取相应礼品，属于传播扩散型活动。
        .grid.tool-btns
          .cell-6
            a.weui_btn.weui_btn_default(href="#!/activity/moon/5") 查看示例
          .cell-6
            a.weui_btn.weui_btn_primary(href="#!/activity/moon/new") 马上制作
      li.tool
        .grid.tool-info
          .cell-6
            img.img-responsive(src="images/group/index.jpg", alt="全民拼团")
          .cell-6
            h5.tool-name 全民拼团
              small HOT
            p.tool-desc 客户可以通过邀请好友拼团的形式低价来购买商品或服务。
        .grid.tool-btns
          .cell-6
            a.weui_btn.weui_btn_default(href="#!/activity/group/4") 查看示例
          .cell-6
            a.weui_btn.weui_btn_primary(href="#!/activity/group/new") 马上制作
      li.tool
        .grid.tool-info
          .cell-6
            img.img-responsive(src="images/bargain/index.jpg", alt="疯狂砍价")
          .cell-6
            h5.tool-name 疯狂砍价
              small HOT
            p.tool-desc 你可以将商品或服务设置好原价和底价参与活动人可以邀请好友来砍价直到砍到底价。
        .grid.tool-btns
          .cell-6
            a.weui_btn.weui_btn_default(href="#!/activity/bargain/3") 查看示例
          .cell-6
            a.weui_btn.weui_btn_primary(href="#!/activity/bargain/new") 马上制作
      li.tool
        .grid.tool-info
          .cell-6
            img.img-responsive(src="images/star/index.jpg", alt="全民摘星星")
          .cell-6
            h5.tool-name 全民摘星星
            p.tool-desc 全民摘星星，是一款比较好玩有趣的活动，通过摘星星的形式有效完成活动传播。
        .grid.tool-btns
          .cell-6
            a.weui_btn.weui_btn_default(href="#!/activity/star/2") 查看示例
          .cell-6
            a.weui_btn.weui_btn_primary(href="#!/activity/star/new") 马上制作
      li.tool
        .grid.tool-info
          .cell-6
            img.img-responsive(src="images/vote/index.jpg", alt="超级加油")
          .cell-6
            h5.tool-name 超级加油
            p.tool-desc 超级加油，是一款可以快速集聚人气的活动工具，能让您有效的快速曝光品牌。
        .grid.tool-btns
          .cell-6
            a.weui_btn.weui_btn_default(href="#!/activity/vote/1") 查看示例
          .cell-6
            a.weui_btn.weui_btn_primary(href="#!/activity/vote/new") 马上制作
