script#complaints(type="text/template")
  .container.complaints
    dl
      dt 投诉总数：
      dd {{ total }}
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead
        tr
          th ID
          th 活动ID
          th.mdl-data-table__cell--non-numeric 投诉原因
          th.mdl-data-table__cell--non-numeric 投诉描述
          th.mdl-data-table__cell--non-numeric 投诉日期
          th.mdl-data-table__cell--non-numeric 处理日期
          th.mdl-data-table__cell--non-numeric 状态
          th.mdl-data-table__cell--non-numeric 操作
      tbody
        tr(v-for="complaint in complaints")
          td {{ complaint.id }}
          td {{ complaint.activity_id }}
          td.mdl-data-table__cell--non-numeric
            .mdl-data-table__cell-text {{ complaint.reason }}
          td.mdl-data-table__cell--non-numeric
            .mdl-data-table__cell-text {{{ complaint.content | lfify }}}
          td.mdl-data-table__cell--non-numeric {{ complaint.create_time | datify }}
          td.mdl-data-table__cell--non-numeric
            span(v-if="complaint.update_time") {{ complaint.update_time | datify }}
            span(v-else) -
          td.mdl-data-table__cell--non-numeric
            span(v-if="complaint.status") 已处理
            span(v-else) 未处理
          td.mdl-data-table__cell--non-numeric
            a(href="javascript:void(0);", v-if="!complaint.status", @click="handle($index)") 标记为已处理
            span(v-else) -
    pagination(:listrows="listrows", :page="page", :total="total")
