script#vote-editor(type="text/template")
  form.container.activity.activity-editor.vote.vote-editor(role="form", @submit="submit")
    header.header
      nav.menu
        a.small(v-link="{ name: 'activities' }") 个人中心
        a.small(v-link="{ name: 'vote' }", v-if="activity.id") 取消编辑

    .main
      //- Banner
      .banner
        .banner-header
          img(src="images/vote/banner.jpg", alt="超级加油")
        .banner-body
          h1.title
            textarea.dashed.reverse(name="title", placeholder="请输入活动标题", rows="4", maxlength="30", required, v-model="activity.title", v-if="editable")
            template(v-else) {{ activity.title }}
        .banner-footer
          p.date 活动时间：
            input.dashed.reverse.start-date(type="text", value="{{ activity.start_time | formatDate }}", placeholder="开始时间", maxlength="16", required, v-show="editable")
            span(v-show="!editable") {{ activity.start_time | formatDate }}
            span 到
            input.dashed.reverse.end-date(type="text", value="{{ activity.end_time | formatDate }}", placeholder="结束时间", maxlength="16", required, v-show="editable")
            span(v-show="!editable") {{ activity.end_time | formatDate }}
          p.note(v-if="editable") （建议活动时间3~5天）

      //- 活动状态
      .status-bar
        button.button(type="button", disabled) 我要参加

      //- 活动规则
      .card.rules
        .card-header
          .card-title 活动规则
        .card-body
          textarea.dashed.reverse(name="rules", placeholder="请输入活动规则", rows="6", maxlength="1000", required, v-model="activity.rules", v-if="editable")
          template(v-else) {{{ activity.rules | formatText }}}

      //- 奖项设置
      .card.prizes
        .card-header
          .card-title 奖项设置
        .card-body
          textarea.dashed.reverse(name="prizes", placeholder="请输入奖项设置", rows="11", maxlength="1000", required, v-model="activity.prizes.text", v-if="editable")
          p(v-else) {{{ activity.prizes.text | formatText }}}
          uploader(
            v-if="activated",
            :error="prizes.uploader.error",
            :images="prizes.uploader.images",
            :maxlength="3",
            description="（最多上传 3 张奖品图片，不上传则不显示）",
            :preview="!editable",
            :reverse="true",
            :success="prizes.uploader.success"
          )
          //- p.prize-note 根据所得票数排名，可获得以下奖品
          //- .prize(v-for="prize in activity.prizes")
          //-   .prize-header
          //-     uploader(
          //-       v-if="activated",
          //-       :error="prizes[$index].uploader.error",
          //-       :images="prizes[$index].uploader.images",
          //-       placeholder="images/gift.jpg",
          //-       :mini="true",
          //-       :preview="!editable",
          //-       :reverse="true",
          //-       :success="prizes[$index].uploader.success"
          //-     )
          //-   .prize-body
          //-     h5.prize-title {{ prize.name }}
          //-     p.prize-desc
          //-       input.dashed.reverse(placeholder="请输入奖品描述", maxlength="100", required, v-if="editable", v-model="prize.desc", lazy)
          //-       template(v-else) {{ prize.desc }}
          //-   .prize-footer(:class="{ expanded: editable }")
          //-     input.dashed.reverse(type="number", min="1", max="9999999", required, v-if="editable", v-model="prize.count", lazy, number)
          //-     template(v-else) {{ prize.count }}

      //- 领奖信息
      .card.accept
        .card-header
          .card-title 领奖信息
        .card-body
          textarea.dashed.reverse(name="receive_info", placeholder="请输入领奖信息", rows="4", maxlength="1000", required, v-model="activity.receive_info", v-if="editable")
          template(v-else) {{{ activity.receive_info | formatText }}}

      //- 机构介绍
      .card.about
        .card-header
          .card-title 机构介绍
        .card-body
          textarea.dashed.reverse(name="host_info", placeholder="此处填写机构介绍，最多1000字，如果不填则不显示", rows="8", maxlength="1000", v-model="activity.host_info", v-if="editable")
          p(v-else) {{{ activity.host_info | formatText }}}
          uploader(
            v-if="activated",
            :error="intro.uploader.error",
            :images="intro.uploader.images",
            :maxlength="10",
            description="（最多上传 10 张图片，不上传则不显示）",
            :preview="!editable",
            :reverse="true",
            :success="intro.uploader.success"
          )

      //- 排行榜
      .card.ranking-list
        .card-header
          .card-title 排行榜
        .card-body
          table
            thead
              tr
                th 排名
                th 姓名
                th 票数
            tbody
              tr
                td(colspan="3") 暂无数据

    footer.footer
      .container.fixed
        .grid
          .cell-6
            button.weui_btn.weui_btn_default(type="button", @click="toggle") {{ editable ? '预览活动' : '返回编辑'}}
          .cell-6
            button.weui_btn.weui_btn_primary(type="submit") 保存活动
