script#reset-password(type="text/template")
  form.container.reset-password(role="form", @submit="submit")
    .weui_cells.weui_cells_form
      .weui_cell
        .weui_cell_bd.weui_cell_primary
          input.weui_input(type="tel", name="mobile", pattern="^1[34578]{1}[0-9]{9}$", placeholder="请输入手机号", title="请输入正确的手机号", required, v-model="mobile", v-el:mobile)
      .weui_cell
        .weui_cell_bd.weui_cell_primary
          input.weui_input(type="number", name="verify_code", pattern="^[0-9]{4,6}$", placeholder="请输入验证码", title="请输入正确的验证码", autocomplete="off", required, v-model="verify_code")
        .weui_cell_ft
          button.weui_btn.weui_btn_mini.weui_btn_default(type="button", @click="sendCaptcha") 获取验证码
      .weui_cell
        .weui_cell_bd.weui_cell_primary
          input.weui_input(type="password", name="password", pattern="^\\S{6,20}$", placeholder="请设置6-20位的新密码", title="密码最少6位，最多20位，不能包含空格", required, v-model="password")
    .weui_btn_area
      button.weui_btn.weui_btn_primary(type="submit") 重置密码
      a.weui_btn.weui_btn_default(v-link="{ name: 'signin' }") 返回登录
    //- .weui_cells_tips
    //-   a.text-muted(v-link="{ name: 'signin' }") 返回登录
