.weui_loading_container(v-show="loading")
  .weui_loading_toast
    .weui_mask_transparent
    .weui_toast
      .weui_loading
        .weui_loading_leaf.weui_loading_leaf_0
        .weui_loading_leaf.weui_loading_leaf_1
        .weui_loading_leaf.weui_loading_leaf_2
        .weui_loading_leaf.weui_loading_leaf_3
        .weui_loading_leaf.weui_loading_leaf_4
        .weui_loading_leaf.weui_loading_leaf_5
        .weui_loading_leaf.weui_loading_leaf_6
        .weui_loading_leaf.weui_loading_leaf_7
        .weui_loading_leaf.weui_loading_leaf_8
        .weui_loading_leaf.weui_loading_leaf_9
        .weui_loading_leaf.weui_loading_leaf_10
        .weui_loading_leaf.weui_loading_leaf_11
      .weui_toast_content(v-text="loading || '数据加载中'") 数据加载中
