script#page-not-found(type="text/template")
  .mdl-grid.container.page-not-found
    .mdl-cell.mdl-cell--12-col.mdl-cell--4-col-tablet.mdl-cell--2-offset-tablet.mdl-cell--4-col-desktop.mdl-cell--4-offset-desktop
      h1.error-code 404
      h5.error-text 页面没找到
      p.error-actions
        a(href="javascript:history.back()") 返回
